.card-container{
    border-radius: 10px;
    margin: 10px;
    height: 250px;
    cursor: pointer;
    background-color: azure;
    background-size: cover;
    background-image: url(https://image.tmdb.org/t/p/w220_and_h330_face/vJHSParlylICnI7DuuI54nfTPRR.jpg);
    transition: all .2s ease-in-out;
}
.card-container:hover {
    transform: scale(1.2) ;
  }
.pd-5{
    padding: 0px 5px !important;
}
.m-info{
    right: 0;
    background-color: black;
    position: absolute;
    text-align: center;
    bottom: 10px;
    /* padding-top: 185px; */
    left: 0;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(1,1,11,1) 43%, rgba(2,3,33,1) 63%, rgba(170,4,12,1) 100%);

}
.m-title{
    font-family: none;
    color: white;
    font-size: 15px;
}
.m-popularity{
    color: white;
    font-size: 10px;
    font-family: fantasy; 
}
.m-add-to-wishList{
    background-color: #860411;
    height: 30px;
    color: white;
    font-size: 14px;
    text-align: center;
    font-family: cursive;
    padding: 5px;
}